@charset "UTF-8";
/*------------------------------
 ▼共通デザイン
 -------------------------------*/
html {
  position: relative;
  min-height: 100%;
  box-sizing: border-box;
}
body {
  font-size: .9rem;
  font-family: Noto Sans JP,Helvetica Neue,Arial,Hiragino Kaku Gothic ProN,Hiragino Sans,Meiryo,sans-serif;
  color: #333;
  line-height: 1.4;
  overflow-y: scroll;
}
a {
  color: #388FC2;
}
.asterisk {
  margin: 0;
  padding-left: 1rem;
  text-indent: -0.8rem;
  display: block;
  line-height: 1.3rem;
}
.asterisk.number {
  padding-left: 1.5rem;
  text-indent: -1.5rem;
}
section {
  margin-bottom: 80px;
}
section.content {
  padding: 30px 0 0 0;
  min-height: calc(100vh - 287px);
}
.text-list li {
  margin: 0 0 10px 0;
}
#page_top {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 20px;
  bottom: 80px;
  background: #afafaf;
  opacity: 0.6;
  border-radius: 50%;
  z-index: 100;
}
#page_top a::before {
  content: url("/koukin/img/footer/caret-up.svg");
  position: absolute;
  width: 25px;
  top: 10px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.no-border {
  border: none !important;
}
input[type="submit"],
input[type="button"],
a[type="button"] {
  appearance: none;
  -webkit-appearance: none;
}

/*404*/
.notfound {
  width: 80%;
  max-width: 500px;
  margin: 0 auto 20px auto;
}
.notfound img {
  width: 100%;
}

/* for IE */
_:-ms-input-placeholder, :root #page_top a::before {
  bottom: 10px;
}
_:-ms-input-placeholder, :root .ie-none {
  display: none;
}
.ie-disp {
  width: auto;
  display: none;
}
_:-ms-input-placeholder, :root .ie-disp {
  display: inline-block;
}

/*書式*/
h1 {
  font-size: 1.6rem;
}
h2 {
  margin: 10px auto 30px auto;
  display: block;
  font-weight: 600;
}
h2:after,
.modal-header h4:after {
  margin: 5px auto 0 auto;
  width: 12rem;
  height: 10px;
  content: "";
  display: block;
  border-bottom: 6px solid #E5E5E5;
}
h3 {
  margin: 0 0 20px 0;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}
h3 .small {
  margin: 6px 0 0 0;
  font-size: .8rem;
}
h3:before,
h3:after {
  min-width: 1rem;
  margin: 0 .5em;
  content: "";
  flex-grow: 1;
  height: 2px;
  background: #388FC2;
}
h3:before {
  margin: 0 .5em 0 0;
}
h3:after {
  margin: 0 0 0 .5em;
}
ol, ul {
  padding-left: 1rem;
}

/*カラー*/
.bg-ccolor {
  background-color: #388FC2 !important;
}
.bg-enter {
  background-color: #8a3b62 !important;
}
.navbar-light .navbar-toggler {
  border-color: rgb(0 86 72);
}
.caution {
  color: #c2185b;
}
.blue {
  color: #01579b;
}
.btn-outline-primary {
  color: #333;
  border: 2px solid #388FC2;
}

/*ヘッダー*/
header .navbar-brand img {
  width: 100px;
}
header .navbar-brand img:hover {
  opacity: 0.6;
  transition-duration: 0.3s;
}
header .catch {
  font-size: 0.7rem;
}
header a.dropdown-item {
  font-size: 0.8rem;
}

header .header-lta {
  background-color: #ffe8df;
}
header .row {
  flex-wrap: nowrap;
}
.header-logo {
  flex-basis: 100px;
}
.header-eltax {
  flex-basis: 100px;
  padding: 0;
}
.header-pcmenu {
  display: none;
}
.header-spmenu {
  flex-basis: 30px;
}
header a.lta-btn {
  width: auto;
  margin: 0;
  padding: .4rem .6rem;
  font-size: .8rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: 1px solid #113fc1;
  background-color: #113fc1;
  border-radius: 6px;
  min-height: auto;
}
/*グローバルナビ*/
.drawer-nav {
	width: 100%;
	position: sticky;
	top: 100px;
	overflow: visible;
}
.drawer-hamburger {
	display: none;
}
.nav-item a:hover,
#gnav a.active {
  background-color: #388FC2;
  color: #fff !important;
}
.mb_nav li {
  width: 100%;
  display: block;
}
.mb_nav .dropdown-toggle::after {
  position: absolute;
  top: calc(50% - 4px);
  right: 10px;
}
.offcanvas-end.mb_nav_wrapper {
  width: 80%;
  max-width: 300px;
}
.mb_nav_wrapper .header-faq {
  font-size: .8rem;
}
.navbar-light .navbar-toggler {
  border-color: #fff;
}
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(56,143,194,1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
header #gnav {
  margin: 0;
}
header #gnav .nav-item {
  width: 11rem;
  border-left: 1px solid #aaa;
}
header #gnav .nav-item:last-child {
  border-right: 1px solid #aaa;
}
.sidenavi {
  z-index: 3000;
}

/*サイトナビ*/
.bottom-navi {
  box-shadow: 0 -2px 6px 0px rgb(0 0 0 / 10%);
  z-index: 1000;
}
.bottom-navi a {
  padding: 40px 0 5px 0;
  font-size: .8rem;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 30px;
}
.bottom-navi a.flow {
  background-image: url("/koukin/img/navi/flow_bk.svg");
  background-position: center top 5px;
}
.bottom-navi a.search {
  background-image: url("/koukin/img/navi/search.svg");
  background-position: center top 5px;
  box-shadow: 0px 3px 10px #ccc;
}
.bottom-navi a.faq {
  background-image: url("/koukin/img/navi/faq_bk.svg");
  background-position: center top 5px;
}
.text-search {
  color: #004c9e;
  font-weight: 500;
}

/*フッター*/
body.top footer {
  padding: 0;
}
footer {
  padding: 0 0 64px 0;
}
footer .nav li {
  width: 100%;
  display: block;
  text-align: center;
  border-bottom: 1px dotted #ccc;
}
footer .nav li:last-child {
  border-bottom: none;
}
footer .nav li a {
  padding: .5rem 0;
}
footer .copyright {
  font-size: .6rem;
}
footer .nav-item a:hover {
  color: #388FC2 !important;
  background-color: #fff;
  text-decoration: underline;
}

/*------------------------------
 ▼TOPページ
 -------------------------------*/

/*メインビジュアル*/
.top_main {
  margin-bottom: 40px;
}
.top_main .firstview {
  display: block;
}
.top_main .firstview {
  margin: 0 0 30px 0;
  padding: 40px 0 0 0;
  background-image: url("/koukin/img/top/mainvisual_bg.png");
  background-size: 100% 100%;
  background-position: center top 0;
  background-repeat: repeat-x;
}
.top_main .firstview-loop {
  background-image: url("/koukin/img/top/mainvisual_icon.png");
  background-size: 640px;
  background-position: left 0 bottom 20px;
  background-repeat: repeat-x;
  height: 330px;
  animation: scroll-anim-mb 100s linear infinite;
}
@keyframes scroll-anim-mb {
  from { background-position: left 0 bottom 20px, center top; }
    to { background-position: left -640px bottom 20px, center top; }
}
@keyframes scroll-anim-pc {
  from { background-position: left 0 bottom 10px, center top; }
    to { background-position: left -810px bottom 10px, center top; }
}

/* IE10 & IE11 */
_:-ms-input-placeholder, :root .top_main .firstview-loop {
  animation: none;
}

.top_main .firstview h1 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.1rem;
  text-align: center;
}
.top_main .firstview h1 span {
  font-size: 2rem;
  display: block;
}
.top_main .container p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.8rem;
  letter-spacing: .04em;
}
.top_main .firstview button {
  display: block;
}
.top_main a.btn {
  width: 100%;
  font-size: 1.2rem;
}
.top_main .mainvisual img {
  width: 115px;
  position: absolute;
  top: 80px;
  right: 20px;
}
.top_main a.btn {
  background-color: #004c9e;
  transition-duration: 0.3s;
}
.top_main a.btn:hover {
  background-color: #0767ce;
}


  /*フィッシング詐欺ご注意*/
   .pc_view{
      display: none;
    }

    .sp_view{
      display: block;
    }




/*自治体を探す*/
#top_area .area-block h3 {
  margin: 0 0 10px 0;
}
#top_area {
  padding-top: 100px;
  margin-top: -100px;
}
.top_area .area-block {
  margin: 0 0 20px 0;
}
.area-list {
  margin: 0;
  padding: 5px 0 10px 0;
  display: flex;
  flex-wrap: wrap;
  background-color: #F0F3F5;
  list-style: none;
}
.area-list li {
  width: calc((100% / 3) - 10px);
  margin: 5px 5px 5px 5px;
  text-align: center;
}
.area-list li a {
  width: 100%;
  padding: 0.4rem;
  display: block;
  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: #fff;
  font-size: .8rem;
  font-weight: 500;
  color: #333;
  text-decoration: none;
}
.area-list li a:hover {
  border-color: #388FC2;
  background-color: #388FC2;
  color: #fff;
}

/*都道府県税*/
.preftax_block .area-list {
  flex-wrap: nowrap;
}
.preftax_block .area-list li:last-child {
  text-align: left;
}
.preftax_block .area-list li p {
  margin: 0;
  padding: 0;
}
.preftax_block .area-list li a.caution-tax {
    width: auto;
    padding: 5px 0 0 0.5rem;
    border: none;
    display: inline-block;
    background: none;
    text-decoration: underline;
    color: #388FC2;
    font-size: 1rem;
}

/*サービスの特長*/
section.top_point {
  background-color: #f5fbfc;
}
.top_point .point-slider h2 {
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
  font-size: 1.6rem;
}
.top_point .point-slider h2:after {
  display: none;
}
.top_point .point-slider {
  padding: 0 0 20px 0;
}
.top_point .point-slider p {
  height: 4rem;
  text-align: center;
  margin-bottom: 10px;
}
.top_point .point-slider img {
  width: 100%;
  max-height: 236px;
}
.top_point h2 {
  margin-bottom: 10px;
}
.top_point h2:after {
  border-bottom: none;
}
.slick-prev,
.slick-next {
  z-index: 100;
}
.slick-prev:before,
.slick-next:before,
.slick-dots li.slick-active button:before {
  color: #388FC2;
}
.slick-prev:before,
.slick-next:before {
  font-size: 30px;
}
.slick-prev {
  left: 0;
}
.slick-next {
  right: 10px;
}
/* IE10 & IE11 */
_:-ms-input-placeholder, :root .top_point .point-slider img {
  height: 250px;
}
.slick-prev, .slick-next {
  width: 40px;
  height: 40px;
}

/*税金・各種公共料金に対応*/
.top_tax .container {
  padding: 40px 10px 0 10px;
  border: #D1DFE0 2px solid;
  position: relative;
}
.top_tax h2 {
  width: 19rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #fff;
}
.top_tax h2:after {
  display: none;
}
.top_tax .tax-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.top_tax .tax-list li {
  width: calc(100% / 3);
  margin: 0 0 10px 0;
  text-align: center;
}
.top_tax .tax-list li img {
  max-width: 100%;
  height: 45px;
  margin: 0 0 10px 0;
}
.top_tax .tax-list li p {
  font-size: .9rem;
}

/*ご利用可能なお支払い方法*/
.top_payment {
  padding: 30px 0;
  background-color: #F0FAFC;
  background-image: radial-gradient(#8fd7e221 30%, transparent 30%);
  background-size: 20px 20px;
}
.top_payment .brand-list {
  margin: 0 0 5px 0;
  padding: 10px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.top_payment .brand-list li {
  width: calc(100% / 6);
  margin: 0 0 15px 0;
  text-align: center;
}
.top_payment .brand-list li img,
.guide.payment .brand-list li img {
  height: 28px;
}
.top_payment h2 {
  margin-bottom: 10px;
}
.top_payment h2:after {
  border-bottom: none;
}
.top_payment .payment_list {
  font-size: 1.1rem;
}
.top_payment .payment_list + p a {
  font-size: 1.1rem;
}

/*ご準備いただくもの*/
.top_preparations {
  padding-top: 180px;
  margin-top:-180px;
}
.top_preparations .container {
  padding: 30px 20px 10px 20px;
  position: relative;
  border: #333 3px solid;
  border-radius: 10px;
}
.top_preparations h2 {
  width: 16rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #fff;
}
.top_preparations h2:after {
  display: none;
}
.preparations-list h4 {
  margin: 0 0 10px 0;
}
.preparations-list h4 span {
  width: 100%;
  display: inline-block;
  font-size: .9rem;
  border-bottom: 1px dotted #aaa;
}
.preparations-list h4 span:last-child {
  margin: 10px 0 0 0;
}
.top_preparations .preparations-item {
  margin: 0;
  padding: 0;
}
.top_preparations .preparations-list {
  margin: 0;
  padding: 0;
	counter-reset: li;
}
.top_preparations .preparations-list li {
  margin: 0 0 15px 0;
  padding: 0 0 0 25px;
	position: relative;
	list-style: none;
  border-bottom: 1px solid #ccc;
}
.top_preparations .preparations-list li:last-child {
  margin: 0;
  border-bottom: none;
}
.top_preparations .preparations-list li a {
  font-size: 1.1rem;
}
.top_preparations .preparations-list li .asterisk a {
  font-size: .9rem;
}
.top_preparations .preparations-list li:before {
  width: 1.3rem;
  height: 1.3rem;
  background-color: #C2387D;
  position: absolute;
  top: 3px;
  left: 0;
  font-weight: bold;
  text-align: center;
  color: #fff;
  counter-increment: li;
  content: counter(li);
  border-radius: 10px;
  line-height: 1.1rem;
}
.top_preparations .preparations-list h4 {
  margin: 0 0 10px 0;
  font-size: 1.1rem;
  line-height: 1.6rem;
}

/*ニュース*/
.top_news nav button {
  width: 50%;
  padding: 10px;
  font-size: 1.1rem;
}
.top_news .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active,
.top_news .nav-tabs {
  border-color: #aaa;
}
.top_news .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border-bottom: 1px solid #fff;
}
.top_news .nav-tabs .nav-link {
  color: #666;
  background-color: #EEE;
  border-bottom: 1px solid #ccc;
}
.top_news .nav-tabs .nav-link.active {
  background-color: #388fc2;
  color: #fff;
  border-bottom: 1px solid #388fc2;
}
dl.news-list {
  margin: 0;
  padding: 0 10px 0 10px;
}
dl.news-list dt {
  margin: 0 0 5px 0;
  color: #999;
  font-size: 1.2rem;
  font-weight: normal;
}
dl.news-list dd {
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #ccc;
}
dl.news-list dd:last-child {
  margin: 0;
  padding: 0;
  border-bottom: none;
}
dl.news-list dd ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
dl.news-list dd ul li {
  width: 50%;
  margin: 0 0 15px 0;
  font-size: 1rem;
}
dl.news-list dd h3 {
  margin: 0 0 5px 0;
  display: block;
  align-items: start;
  font-size: 1.1rem;
  color: #388FC2;
}
dl.news-list dd h3:before,
dl.news-list dd h3:after {
  display: none;
}
dl.news-list dd p{
  margin: 0 0 5px 0;
}
dl.news-list dd li a {
  color: #333;
  display: table;
}
dl.news-list dd li a:hover {
  color: #388FC2;
}
dl.news-list dd li:before,
dl.news-list dd li span,
dl.news-list dd li span:after {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  display: inline-block;
}
dl.news-list dd li.tax:before,
dl.news-list dd li span.tax:after {
  content: "各種税料金";
  color: #009688;
}
dl.news-list dd li.fee:before,
dl.news-list dd li span.fee:after {
  content: "各種料金";
  color: #085940;
}
dl.news-list dd li.suido:before,
dl.news-list dd li span.suido:after {
  content: "水道料金";
  color: #2980B9;
}
dl.news-list dd li.app:before,
dl.news-list dd li span.app:after {
  content: "電子申請費用";
  color: #96004B;
}


/*------------------------------
 ▼サブページ
 -------------------------------*/

/*自治体を探す（サブページ）*/
.area .multi-collapse {
  padding-top: 300px;
  margin-top: -300px;
}
.area .accordion-body {
  padding: 10px;
  border-radius: 0;
  background-color: #f0f3f5;
}
.accordion-button {
  font-size: 1.1rem;
}
.accordion-button:not(.collapsed) {
  color: #fff;
  background-color: #388FC2;
}
.area-list li a {
  font-size: .8rem;
}
h3.accordion-header {
  border-bottom: 1px dotted #ccc;
}
h3.accordion-header.disabled .accordion-button,
.top_area .area-list li a.disabled {
  background-color: #eee;
  color: #999;
  pointer-events: none;
}
h3.accordion-header.disabled .accordion-button:after {
  display: none;
}
.accordion-item h3:before,
.accordion-item h3:after {
  display: none;
}
.accordion-item h3.accordion-header:last-of-type {
  border-bottom: none;
}
.accordion-button::after {
  width: 1rem;
  height: 1rem;
  background-size: 1rem;
}
.accordion-item {
  margin: 0 0 20px 0;
}
.accordion-item:not(:first-of-type) {
  border-top: 1px solid rgba(0,0,0,.125);
}
.accordion-item:first-of-type .accordion-button {
  border-radius: 0;
}
.count_block {
  position: absolute;
  top: 40px;
  right: 5px;
}
.count {
  width: 65px;
  height: 65px;
  background-image: url("/koukin/img/area/count.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
}
.count span {
  width: 3rem;
  position: absolute;
  top: 22px;
  left: calc(50% - 1.5rem);
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
  color: #C2387D;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("/koukin/img/area/arrow_after.svg");
}
h4.taxtype {
  margin: 0;
  padding: 10px 20px 5px 0;
  background-color: #f0f3f5;
  font-size: .9rem;
  border-bottom: 1px dotted #607d8b;
}
h4 i {
  font-size: 0.8rem;
  vertical-align: middle;
}
.preftax_block .area-list li:last-child {
  width: calc(100% - ((100% / 3) + 10px));
}
.preftax_block .area-list li p {
  font-size: .8rem;
}

/*自動車税についての注意事項*/
.jidosha-modal-open span {
  text-decoration: underline;
}
.jidosha-modal-open span:hover {
  cursor: pointer;
  color: #0a58ca;
}
.jidosha-modal-container {
	width: 100%;
	height: 100%;
	padding: 40px 0;
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
	background: rgba(26,86,121,50%);
	overflow: auto;
	opacity: 0;
	visibility: hidden;
  transition: opacity .15s linear;
  box-sizing: border-box;
  z-index: 1060;
}
.jidosha-modal-body {
	width: 90%;
	max-width: 760px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.jidosha-modal-content {
	padding: 20px;
	background: #fff;
	text-align: left;
  box-shadow: 0px 3px 8px #5e8297;
  border-radius: 1rem;
}
.jidosha-modal-container:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.jidosha-modal-container.active {
	opacity: 1;
	visibility: visible;
}
.jidosha-modal-content h4 {
  padding: 0;
  font-size: 1.4rem;
  text-align: center;
}
.jidosha-modal-content p {
  padding: 0;
}
.jidosha-modal-content h4 {
  font-size: 1.2rem;
}
.jidosha-modal-content .image-block {
  max-width: 300px;
  margin: 20px auto;
}
.jidosha-modal-content .image-block img {
  width: 90%;
}
.jidosha-modal-close {
  text-align: right;
}
.jidosha-modal-close i {
  font-size: 1.5rem;
  color: #ccc;
}
.jidosha-modal-close i:hover {
  cursor: pointer;
  color: #333;
}
.jidosha-modal-container .red {
  color: #96004B;
}
.jidosha-modal-container .blue {
  color: #2980B9;
}

/*自治体詳細*/
.modal-dialog {
  margin: 2rem 1rem 1rem 1rem;
  box-shadow: 0px 3px 8px #5e8297;
  border-radius: 1rem;
}
.modal-dialog-scrollable {
  height: calc(100% - 4rem);
}
.modal-header {
  position: relative;
  border-bottom: none;
}
.modal-header .btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
}
.modal-header h4 {
  padding: 1rem 0 0 0;
  position: relative;
  font-size: calc(1.325rem + .9vw);
}
.modal-dialog-scrollable .modal-content {
  height: 100%;
}
.modal-dialog-scrollable .modal-body {
flex: 1;
}
.modal-content {
  border-radius: 1rem;
}
.modal-content h5 {
  text-align: center;
  font-size: 1rem;
}
.modal-body {
  padding: 0 1rem;
  flex: none;
}
.modal-scrollarea {
  height: 100%;
  padding: .8rem;
  border: 2px solid #CCC;
  background-color: #FAFAFA;
  overflow-y: auto;
}
.modal-scrollarea dl dt {
  margin: 0 0 0.1rem 0;
  font-size: 1rem;
}
.modal-scrollarea dl dt.tax {
  color: #009688;
}
.modal-scrollarea dl dt.fee {
  color: #085940;
}
.modal-scrollarea dl dt.suido {
  color: #2980B9;
}
.modal-scrollarea dl dt.app {
  color: #96004B;
}
.modal-scrollarea dl dt.lta {
  color: #3f51b5;
}
.modal-scrollarea dl dd {
  margin: 0 0 0.2rem 0;
  padding: 0 0 0 1rem;
  font-size: .8rem;
}
.modal-scrollarea dl dd.subtitle {
  padding: 1rem 0 0 0 ;
  font-weight: bold;
}
.modal-scrollarea dl dd.subtitle:before {
  display: none;
}
.modal-scrollarea dl dd:before {
  width: 1rem;
  margin-left: -1rem;
  content: "・";
  display: block;
  float: left;
}
.modal-scrollarea dl dd + dt {
  margin: 0.5rem 0 0.1rem 0;
}
.modal-footer {
  margin: 0;
  padding-bottom: 20px;
  border-top: none;
}
.modal-footer p {
  width: 100%;
  margin: 0 0 10px 0;
  font-size: 0.8rem;
  text-align: center;
}
.modal-footer ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.modal-footer ul li {
  width: 100%;
  margin: 0 0 10px 0;
}
.modal-footer ul li.col2 {
  width: calc(50% - 5px);
}
.modal-footer ul li .btn-outline {
  border: 2px solid #000;
}
.modal-footer ul li .btn-outline.tax {
  border-color: #009688;
}
.modal-footer ul li .btn-outline.fee {
  border-color: #085940;
}
.modal-footer ul li .btn-outline.suido {
  border-color: #2980B9;
}
.modal-footer ul li .btn-outline.app {
  border-color: #96004B;
}
.modal-footer ul li .btn-outline.lta {
  border-color: #3f51b5;
}
.modal-footer ul li a {
  width: 100%;
  margin: 0 auto;
  padding: 6px 20px 6px 12px;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  position: relative;
}
.modal-footer ul li.col2 a {
  line-height: 1.3rem;
}
.modal-footer ul li a:hover {
  color: #fff;
}
.modal-footer ul li a.tax:hover:before,
.modal-footer ul li a.fee:hover:before,
.modal-footer ul li a.suido:hover:before,
.modal-footer ul li a.app:hover:before,
.modal-footer ul li a.lta:hover:before {
  border-left: 0.4em solid #fff;
}
.modal-footer ul li a.tax:hover {
  background-color:#009688;
}
.modal-footer ul li a.fee:hover {
  background-color:#085940;
}
.modal-footer ul li a.suido:hover {
  background-color:#2980B9;
}
.modal-footer ul li a.app:hover {
  background-color:#96004B;
}
.modal-footer ul li a.lta:hover {
  background-color:#3f51b5;
}
.modal-footer ul li a:before {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  width: 0px;
  height: 0px;
  border: 0.3em solid transparent;
  border-left: 0.4em solid #000;
  content: "";
}
.modal-footer ul li a.tax:before {
  border-left: 0.4em solid #009688;
}
.modal-footer ul li a.fee:before {
  border-left: 0.4em solid #085940;
}
.modal-footer ul li a.suido:before {
  border-left: 0.4em solid #3388dd;
}
.modal-footer ul li a.app:before {
  border-left: 0.4em solid #96004B;
}
.modal-footer ul li a.lta:before {
  border-left: 0.4em solid #3f51b5;
}
.modal-backdrop.show {
  opacity: .5;
  background-color: #1a5679;
}

/*ご利用ガイド*/
h3.guide-title {
  margin: 0 0 20px 0;
  padding-left: 0.5rem;
  border-left: 4px solid #388fc2;
  font-size: 1.3rem;
  font-weight: 500;
}
.guide h3.step {
  display: flex;
  align-content: center;
}
.guide h3.step:before,
.guide h3.step:after {
  display: none;
}
.guide .step span:first-child {
  margin: 0 10px 0 0;
  padding: 0 6px;
  color: #fff;
  font-size: 1.2rem;
  background-color: #388fc2;
}
.guide .guide_topnavi {
  margin: 0 0 20px 0;
  padding: 0;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}
.guide .guide_topnavi li {
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 4rem;
  font-weight: bold;
}
.guide .guide_topnavi li + li a {
  border-top: none;
}
.guide .guide_topnavi li a {
  width: 100%;
  height: 100%;
  min-height: 100px;
  padding: 30px 1.5rem 30px 0;
  font-weight: normal;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #333;
  position: relative;
  transition-duration: .2s;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}
.guide .guide_topnavi li a:after {
  margin: auto;
  font-family: "Font Awesome 6 Pro";
  content: '\f105';
  font-size: 1.5rem;
  font-weight: 900;
  color: #388FC2;
  position: absolute;
  right: 0;
  top: calc(50% - 1rem);
  bottom: 0;
}
.guide .guide_topnavi li a .image {
  width: 50px;
}
.guide .guide_topnavi li a .image img {
  width: 100%;
}
.guide .guide_topnavi li a .text,
.guide .guide_topnavi li a .note {
  text-align: left;
}
.guide .guide_topnavi li a .text {
  width: calc(100% - 50px);
  padding: 0 0 0 1rem;
}
.guide .guide_topnavi li a .text h4,
.guide .guide_topnavi li a .note h5 {
  margin: 0 0 .3rem 0;
}
.guide .guide_topnavi li a .text h4 {
  font-size: 1rem;
  text-decoration: underline;
}
.guide .guide_topnavi li a .text p,
.guide .guide_topnavi li a .note p {
  margin: 0;
}
.guide .guide_topnavi li a .note {
  width: 100%;
  margin: 10px 0 0 0;
  padding: .5rem;
  background-color: #F0F3F5;
}
.guide .guide_topnavi li a .note h5 {
  font-size: .9rem;
  color: #114a6b;
}
.guide .guide_topnavi li a .note p {
  font-size: .8rem;
}
.guide .guide_topnavi + p {
  text-align: left;
}
.guide.flow .subnavi {
  margin: 10px 0 20px 0;
  padding: 0;
  border-color: #666;
  list-style: none;
}
.guide.flow .subnavi li {
  margin: 0 1rem;
  display: inline-block;
}
.guide .subnavi::after {
  position: absolute;
  top: calc(50% - 2.5px);
  right: 10px;
}
.guide .image_block {
  box-sizing: border-box;
}
.guide .image_block img {
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 5px;
}
.guide_navi ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.guide_navi ul li {
  width: calc(50% - 5px);
  margin: 5px 0;
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: left 10px center;
}
.guide_navi ul li a {
  min-height: 3rem;
  font-size: .8rem;
  color: #333;
  text-decoration: underline;
  line-height: 1rem;
  border: 1px solid #999;
  border-radius: 6px;
  white-space: normal;
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-right: 10px;
}
.guide_navi ul li.icon_flow {
  background-image: url("/koukin/img/guide/navi_flow.svg");
}
.guide_navi ul li.icon_faq {
  background-image: url("/koukin/img/guide/navi_faq.svg");
}
.guide_navi ul li.icon_sheet {
  background-image: url("/koukin/img/guide/navi_sheet.svg");
}
.guide_navi ul li.icon_payment {
  background-image: url("/koukin/img/guide/navi_payment.svg");
}

/*手続きの流れ*/
.guide.flow .flow_block:nth-child(odd) {
  background-color: #f6f6f6;
}
.guide.flow .flow_block .asterisk {
  margin: 0 0 5px 0;
}
.guide h3 {
  margin: 0 0 1rem 0;
  display: block;
}
.guide h3#sp,
.guide h3#pc {
  padding: 1rem;
  background-color: #ebf2f5;
}
.guide h3:before {
  margin: 0;
}
.guide.flow h4.flow_title {
  margin: .5rem 0 0 0;
  font-size: 1.2rem;
}
.guide.flow ul,
.guide.flow ol {
  margin: 0;
}
.guide.flow ul li,
.guide.flow ol li {
  margin: 0 0 1rem 0;
}
.guide.flow .flow_category,
.guide.flow .domain {
  margin: 0 0 5px 0;
  font-size: 1rem;
  color: #01579b;
}
.guide.flow .flow_image p {
  margin: 0 0 3px 0;
}
.guide.flow .flow_image {
  text-align: center;
}
.guide.flow .flow_image img {
  width: 100%;
  max-width: 500px;
  margin: 0 0 10px 0;
  background-color: #fff;
  border: 1px solid #ccc;
}
.guide.flow .flow_noteimage {
  width: 70%;
  max-width: 250px;
  display: block;
}

/*よくあるご質問(PC)*/
.faq_list {
  margin: 0;
}
.faq_list span.question,
.faq_list span.answer {
  font-weight: bold;
  font-size: 1.2rem;
}
.faq_list .accordion-button.collapsed span.question {
  color: #468abe;
}
.faq_list span.answer {
  color: #be466b;
}
.faq_list .accordion-button span.question {
  color: #fff;
}
.accordion-body {
  display: flex;
}
.faq_list p {
  margin: 0;
  padding: 0 .5rem;
  font-size: 0.9rem;
}
.faq_list .accordion-button {
  padding: 1rem .8rem;
  position: relative;
  align-items: start;
}
.faq_list h2.accordion-header:after {
  display: none;
}
/*answer内にfrequentがない基本非表示*/
.faq_list .accordion-item {
  margin: 0;
  display: none;
}
/*answer内にfrequentがあれば表示*/
.faq_list.frequent .accordion-item {
  display: block;
}
.faq_list .accordion-item {
  border-right: none;
  border-left: none;
}
.faq_list .accordion-item:first-child {
  border-bottom: 0;
}
.faq_list .accordion-body {
  padding: 1rem;
}
.faq_list .accordion-body p {
  margin: 0 0 10px 0;
  padding: 0 0 0 0.5rem;
}
.faq_list h3:before {
  margin: 0;
}
.faq_list h3 {
  margin: 0;
  padding: 20px 10px;
  display: block;
  border-bottom: 1px solid #ccc;
}
.faq_list h3:hover,
.faq_list .accordion-button.collapsed:hover {
  background-color: #fdfce8;
  cursor: pointer;
}
.guide .faq-eltax .step span:first-child {
  background-color: #113FC1;
}
.faq-eltax .faq_list h3.active {
  color: #113FC1;
}
.guide .faq-tax .step span:first-child {
  background-color: #009688;
}
.faq-tax .faq_list h3.active {
  color: #009688;
}
.guide .faq-suido .step span:first-child {
  background-color: #2980b9;
}
.faq-suido .faq_list h3.active {
  color: #2980b9;
}
.guide .subtitle {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.guide .subtitle li {
  width: calc((100% / 2) - 5px);
  margin: 0;
}
.guide .subtitle button {
  width: 100%;
  height: 4.4rem;
  min-height: 3rem;
  padding: 0.4rem 1rem;
  font-size: 1rem;
  text-align: center;
  background-color: #B5B6B7;
  border: 1px solid #aaa;
  color: #FFF;
  border-radius: 10px 10px 0 0;
}
/*  navWrapQA 追加  */
.content.guide.faq{
  position: relative;
}
div#headerH {
  position: fixed;
  z-index: 20;
  width: 100%;
  background-color: #FFF;
}
div#contentQA_ALL{
  margin-top: 500px;
}


.guide .container-fluid .navWrapQA .navbut{
  padding: 0.4rem;
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 10px;
}
.guide .container-fluid .navWrapQA .navbut.lta:hover{
  background-color: #6A90F9;
}
.guide .container-fluid .navWrapQA .navbut.fre:hover{
  background-color: #009688;
}
.guide .container-fluid .navWrapQA .navbut.sui:hover{
  background-color: #51ABDF;
}

.navbut a:hover {
  color: #FFF !important;
}
.guide .container-fluid .navWrapQA .navbut img{
  width: 6.5rem;
  height: 3rem;
}
.navbut a {
  /* color: #fff; */
  width: 100%;
  display: block;
  min-width: 135px;
  margin-right: 0;
  margin-left: 0;
  position: relative;
  text-align: center;
  line-height: 1;
  padding: 0.625rem 0;
  z-index: 0;
  text-decoration: none !important;
  color: #333333 !important;
}

.navbut a img.el_icon1_off {
top: -1.625rem;
bottom: 0;
margin: auto;
z-index: 2;
/* background-image: url(../img/faq/el_icon_02_off.svg); */
background-size: cover;
background-repeat: no-repeat;
/* width: 4.5625rem;
height: 2.3125rem; */
/* width: 1.5rem;
height: 1.6875rem; */
z-index: 2;
}
/*初期表示*/
.noImg {
display: none;
}






/*  tabエリア 追加  */
.guide .subtitle button.tab-eltax.active,
.guide .subtitle button.tab-tax.active,
.guide .subtitle button.tab-suido.active {
  color: #fff;
}
.guide .subtitle button.tab-eltax.active {
  color: #fff;
  border-color: #113FC1;
  background-color: #113FC1;
}
.guide .subtitle button.tab-tax.active {
  color: #fff;
  border-color: #009688;
  background-color: #009688;
}
.guide .subtitle button.tab-suido.active {
  color: #fff;
  border-color: #2980b9;
  background-color: #2980b9;
}
.faq-eltax h3,
.faq-tax h3,
.faq-suido h3 {
  display: block;
}
.guide .frequently_icon {
  width: 28px;
  margin: 0 8px 0 0;
  vertical-align: text-top;
}
.guide .faq_list ul,
.guide .faq_list ol {
  margin: 0 0 0 1rem;
}
.guide .faq_list ul span.indent-l,
.guide .faq_list ol span.indent-l,
.guide .faq_list ul span.indent-s,
.guide .faq_list ol span.indent-s {
  width: 100%;
  display: block;
  font-weight: bold;
}
.guide .faq-eltax,
.guide .faq-tax,
.guide .faq-suido {
  overflow: hidden;
}
.guide .faq-eltax,
.guide .faq-suido {
  display: none;
}
.guide.faq a.btn {
  width: 100%;
  font-size: 1rem;
}
.guide.faq .tag {
  width: 6rem;
  margin: 5px 0 0 0;
  display: block;
  border: 1px solid #01579b!important;
  color: #01579b;
  font-size: 0.7rem;
  vertical-align: text-bottom;
}
.guide.faq .tag2 {
  width: 6rem;
  margin: 5px 0 0 0;
  display: block;
  border: 1px solid #df1082!important;
  color: #df1082;
  font-size: 0.7rem;
  vertical-align: text-bottom;
}
.guide.faq .note {
  display: inline-block;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #CCC;
  background-color: #fff;
  border: 1px solid #CCC;
}
.guide.faq .note .tag {
  margin: 0 0 5px 0;
}
.guide.faq .note p {
  margin: 0;
  padding: 0;
  font-size: .8rem;
}
.guide.faq .accordion-body > div {
  width: 100%;
}
.guide.faq h2 button a {
  padding-top: 100px;
  margin-top: -100px;
}
.guide.faq a.btn-info {
  width: 100%;
  min-height: 3rem;
  padding: 0.4rem 1rem;
  font-size: 1.2rem;
  text-align: center;
  color: #fff;
  border-color: #009688;
  background-color: #009688;
  border-radius: 8px;
}
.lta-modal h3 {
  font-size: 1.3rem;
}



/*お支払いについて*/
.guide.payment h3 {
  padding: 0 0 0 0.5rem;
  display: block;
  border-left: 4px solid #388fc2;
}
.guide.payment h3:before,
.guide.payment h3:after {
  display: none;
}
.guide.payment .brand-list {
  width: 340px;
  margin: 0 0 10px 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.guide.payment .brand-list + p {
  margin: 0 0 10px 0;
  padding: 0;
}

.guide.payment .brand-list li {
  margin: 0 10px 0 0;
}
.guide a.btn {
  width: 100%;
  font-size: 1rem;
}
.guide .payment_flow {
  margin: 0 0 10px 0;
  padding: 0;
  list-style: none;
  display: none;
}
.guide .payment_flow li {
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  box-sizing: border-box;
  overflow: hidden;
}
.guide .payment_flow li p {
  font-size: .8rem;
}
.guide .payment_flow li img {
  width: 100%;
  margin: 0 0 10px 0;
  background-color: #fff;
  border: 1px solid #ccc;
}
.guide.payment button {
  width: 100%;
  margin: 0 0 15px 0;
  padding: 0.2rem 0.8rem;
  font-size: 1.1rem;
  font-weight: 500;
  position: relative;
  text-align: left;
  background-color: #eeeeee;
  border: none;
  transition-duration: .2s;
}
.guide.payment button:hover,
.guide.payment button.on {
  border-bottom: none;
}
.guide.payment button:before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  margin: auto;
  width: 15px;
  height: 2px;
  background-color: #666;
  transition: .2s;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
.guide.payment button:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  margin: auto;
  width: 15px;
  height: 2px;
  background-color: #666;
  transition: .3s;
}
.guide.payment button.on:before {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}
.guide .payment_flow li h5 {
  font-size: 1rem;
}
.guide .payment_flow li h5 span {
  margin: 10px 5px 0 0;
  padding: 0 6px;
  background-color: #388fc2;
  color: #fff;
}



/*LTA*/
.lta h2 {
  font-size: 1.2rem;
}
.lta h3 {
  font-size: 1.1rem;
}
.lta h4,
.lta h5 {
  font-size: 1.0rem;
}
a.lta-btn,
.guide.faq a.lta-btn {
  width: 100%;
  max-width: 300px;
  min-height: 3rem;
  padding: 0.4rem 3rem;
  font-size: 1.3rem;
  text-align: center;
  text-decoration: none;
    color: #fff;
    border: 1px solid #113fc1;
    background-color: #113fc1;
  border-radius: 8px;
}
.lta-btn:hover,
.guide.faq a.lta-btn:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0B2B86;
}
.lta-fee {
  font-size: .9rem;
}
.lta-block {
  margin-bottom: 50px;
}
.lta-block h4 {
  padding: 0 0 0 .5rem;
  border-left: 3px solid #388FC2;
}
.lta-block .brand-list {
  display: flex;
}
.lta-block .brand-list li {
  margin: 0 10px 0 0;
  list-style: none;
}
.lta-block .brand-list li img {
  height: 35px;
}
.lta-modal h3:before,
.lta-modal h3:after {
  display: none;
}


/*-------------------------------------
▼ブレイクポイント
--------------------------------------*/
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

  /*------------------------------
  ▼共通デザイン
  -------------------------------*/

  section.content {
    padding: 70px 0 0 0;
    min-height: calc(100vh - 328px);
  }
.header-lta{
  line-height: 2.4;
}

  /*フッター*/
  footer .nav {
    display: flex;
  }
  footer .nav li {
    width: auto;
    display: block;
    border-bottom: none;
  }
  footer .nav li a {
    padding: 0 1rem;
    border-right: 1px solid #ccc;
  }
  footer .nav li:last-child a {
    border-right: none;
  }

  /*------------------------------
  ▼TOPページ
  -------------------------------*/

  /*ご利用可能なお支払い方法*/
  .top_payment .brand-list li img,
  .guide.payment .brand-list li img {
    height: 34px;
  }

  /*税金・各種公共料金に対応*/
  .top_tax h2 {
    width: 26rem;
  }

  /*ご準備いただくもの*/
  .top_preparations h2 {
    width: 20rem;
  }

  /*------------------------------
  ▼サブページ
  -------------------------------*/

  /*自治体詳細*/
  .modal-dialog {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .modal-dialog-scrollable {
    max-height: 600px;
  }
  .modal-footer ul {
    width: 400px;
    margin: 0 auto;
  }
  .modal-footer ul li {
    width: 400px;
  }
  .modal-footer ul li.col2 {
    width: calc(200px - 5px);
  }

  /* IE10 & IE11 */
  _:-ms-input-placeholder, :root .modal.show .modal-body {
    height: 250px;
  }
  _:-ms-input-placeholder, :root .modal-dialog {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(50% - 250px);
  }

  /*よくあるご質問*/
  .guide.faq .note .tag {
    margin: 0;
  }
  .guide.faq .note p {
    font-size: .9rem;
  }
    /*lta*/
  .br-sp {
    display: none;
  }

}
/* @media (min-width: 576px) END */



/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  /*------------------------------
  ▼共通デザイン
  -------------------------------*/
  section.content {
      min-height: calc(100vh - 329px);
  }
  .top #page_top {
    bottom: 80px;
  }

  /*------------------------------
  ▼TOPページ
  -------------------------------*/

  /*メインビジュアル*/
  .top_main {
    height: auto;
  }
  .top_main a.btn {
    width: 360px;
    font-size: 1.3rem;
  }

  /*自治体を探す*/
  .area-list li {
    width: calc((100% / 6) - 10px);
  }
  .area-list li a {
    padding: 0.6rem;
    font-size: 1.2rem;
  }
  .top_area .count_block,
  .area .count_block {
    top: 10px;
    right: 200px;
  }
  .top_area .count,
  .area .count {
    width: 100px;
    height: 100px;
  }
  .top_area .count span,
  .area .count span {
    top: 40px;
    font-size: 1.8rem;
  }
  .top_area .count_block, .area .count_block {
    top: 10px;
    right: 0;
  }

  /*税金・各種公共料金に対応*/
  .top_tax .tax-list li {
    width: calc(100% / 4);
  }

  /*お支払い方法*/
  .top_payment .brand-list li {
    width: calc(100% / 6);
  }
  .top_payment .brand-list li img,
  .guide.payment .brand-list li img {
    width: 100%;
    height: 40px;
  }

  /* IE10 & IE11 */
  _:-ms-input-placeholder, :root .top_payment .brand-list li img,
  _:-ms-input-placeholder, :root .guide.payment .brand-list li img {
    width: 50px;
  }

  .top_payment .brand-list,
  .top_payment .payment_list,
  .top_payment p {
    width: 500px;
    margin: 0 auto;
  }
  .top_payment .payment_list,
  .top_payment p {
    margin: 0 auto 10px auto;
  }
  .top_payment p {
    width: 620px;
  }

  /*ご準備いただくもの*/
  .top_preparations h2 {
    width: 20rem;
  }
  .preparations-list h4 span:after {
    content:"：";
    display: inline-block;
  }
  .preparations-list h4 span:last-child {
      margin: 0;
  }
  .preparations-list h4 span {
    width: auto;
    font-size: 1.1rem;
    border-bottom: none;
  }

  /*ニュース*/
  .top_news dl.news-list dd ul li {
    width: calc(33% - 10px);
  }


  /*------------------------------
  ▼サブページ
  -------------------------------*/

  /*自治体を探す（サブページ）*/
  h4.taxtype {
    margin: 0 0 10px 0;
    font-size: 1.1rem;
  }
  .preftax_block .area-list li:last-child {
    width: calc(100% - ((100% / 6) + 10px));
  }
  .preftax_block .area-list li p {
    font-size: 1rem;
  }

  /*自動車税についての注意事項*/
  .jidosha-modal-container {
    padding: 40px 0;
  }
  .jidosha-modal-content h4 {
    font-size: 1.4rem;
  }
  .jidosha-modal-content p {
    padding: 0 20px;
  }
  .jidosha-modal-content .image-block {
    margin: 30px auto;
  }
  .jidosha-modal-content .image-block img {
    width: 100%;
  }


 /*お支払いについて*/
  .guide.payment .brand-list li {
    margin: 0 5px 0 0;
    width: 70px;
  }
  .guide .payment_flow {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
  }
  .guide .payment_flow li {
    width: calc((100% / 4) - 20px);
  }
  .guide .payment_flow::after {
    display: block;
    content:"";
    width: calc((100% / 4) - 20px);
  }
  .guide.payment button {
    margin: 15px 0;
    font-size: 1.2rem;
    pointer-events: none;
  }
  .guide.payment button:before,
  .guide.payment button:after {
    display: none;
  }

  /*よくあるご質問*/
  .guide .subtitle {
    justify-content: center;
  }
  .guide .subtitle li {
    width: 18rem;
    margin: 0 10px 0 0;
  }
  .guide .subtitle li:last-child {
    margin: 0;
  }
  .guide.faq a.btn {
    width: 360px;
  }
  .guide.faq .tag,
  .guide.faq .tag2 {
    display: inline-block;
    vertical-align: baseline;
  }
/*LTA*/
  .lta h2 {
    font-size: 2rem;
  }
  .lta h3 {
    font-size: 1.6rem;
  }
  .lta h4,
  .lta h5 {
    font-size: 1.2rem;
  }
  .lta-fee {
    font-size: 1.1rem;
  }
}
/* @media (min-width: 768px)  END*/



/* @media (min-width: 992px)  START*/
@media (min-width: 992px) {

  /*------------------------------
  ▼共通デザイン
  -------------------------------*/
  section {
    margin-bottom: 100px;
  }
  section.content {
    min-height: calc(100vh - 287px);
  }
  .top #page_top {
    bottom: 20px;
  }
  .header-lta{
  line-height: 2.4;
  }

    /*ヘッダー*/
  .header-logo {
    display: flex;
    align-items: center;
  }
  header .catch {
    width: 18rem;
    margin: 0 0 0 1rem;
  }
  .header-eltax {
    flex-basis: 1;
  }
  .header-pcmenu {
    display: block;
  }
  .header-spmenu {
    display: none;
  }
  header a.lta-btn {
    margin: 0 1rem 0 0;
    font-size: 1rem;
  }
  /*フッター*/
  footer {
    padding: 0;
  }

  /*------------------------------
  ▼TOPページ
  -------------------------------*/

  /*メインビジュアル*/
  .top_main .mainvisual img {
    width: 135px;
    top: 50px;
  }

  /*税金・各種公共料金に対応*/
  .top_tax .tax-list li {
    width: calc(100% / 7);
  }
  /* Edge(EdgeHTML) & IE11 & IE10 */
  _:-ms-input-placeholder, :root .top_tax .tax-list li {
    width: 130px;
  }

  .top_tax .container {
    padding: 50px 10px 0 10px;
  }

  /*------------------------------
  ▼サブページ
  -------------------------------*/

  /*ご利用ガイド*/
  .guide .guide_topnavi {
    margin: 0;
    justify-content: space-between;
  }
  .guide .guide_topnavi li {
    width: calc((100% /2) - 10px);
    margin: 0 0 20px 0;
    padding: 0;
  }
  .guide .guide_topnavi.pc-1col li {
    width: 100%;
  }
  .guide .guide_topnavi li a {
    min-height: 140px;
    padding: 20px 35px 20px 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
  }
  .guide .guide_topnavi li a:hover {
    border-color: #388FC2;
    background-color: #fafafa;
  }
  .guide .guide_topnavi li a:hover h4 {
    color: #388FC2;
  }
  .guide .guide_topnavi li + li a {
    border-top: 2px solid #ddd;
  }
  .guide .guide_topnavi li a:after {
    right: 10px;
  }
  .guide .guide_topnavi li a .text {
    padding: 0 0 0 1.5rem;
  }
  .guide .guide_topnavi li a .text h4 {
    font-size: 1.2rem;
  }
  .guide .guide_topnavi li a .image {
    width: 80px;
  }
  .guide .guide_topnavi li a .text {
    width: calc(100% - 80px);
  }
  .guide .guide_topnavi li a .note {
    min-height: 5rem;
  }
  .guide .guide_topnavi li a .note p {
    font-size: .9rem;
  }
  .guide .guide_topnavi li a .note h5 {
    font-size: 1rem;
  }

  /*------------------------------
  ▼lta.html 改修
  -------------------------------*/
    .spmb20{margin-bottom: 5.3vw;}
    .lta-btn{background-color: #113fc1;border-radius: 6px;}
    img.eltax02 {width: 15px;margin: 0 0 3px 7px;}

  .pcNo{display: none;}

  /*よくあるご質問0702*/
  /* ▼▼▼----- TABナビ icon -----▼▼▼ */
  .guide .subtitle li button{
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .tab-eltax div.zei_img,
  .tab-tax div.zei_img {
    background-image: url(../img/faq/zei_off_icon.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 4.5625rem;
    height: 2.3125rem;
  }
  .tab-eltax.active div.zei_img,
  .tab-tax.active div.zei_img {
    background-image: url(../img/faq/zei_on_icon.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 4.5625rem;
    height: 2.3125rem;
  }

  .tab-suido div.sui_img {
    background-image: url(../img/faq/sui_off_icon.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 3.3125rem;
    height: 2.9375rem;
  }
  .tab-suido.active div.sui_img {
    background-image: url(../img/faq/sui_on_icon.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 3.3125rem;
    height: 2.9375rem;
  }

  /* ▼▼▼----- TABナビ 詳細のicon -----▼▼▼ */
  span.el_qr,span.el_number{position: relative;}
  span.el_qr::after {
    content: "";
    display: block;
    width: 1rem;
    height: 1rem;
    background-image: url("../../koukin/img/faq/qr.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 25%;
    left: 103%;
  }
  span.el_number::after{
    content: "";
    display: block;
    width: 2.5625rem;
    height: 1rem;
    background-image: url("../../koukin/img/faq/number.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 21%;
    left: 103%;
  }
  .txtLeft{text-align: left;}
  .guide .subtitle li {
    width: 18.75rem;/*w300px*/
    margin: 0 0.625rem 0 0;
  }

  /* ▼▼▼----- 選択ナビゲーション 詳細のicon -----▼▼▼ */
  .navbut a{
    width: 100%;
    height: 100%;
  }
  /* .navbut{position: relative;} */
  .container-fluid.nav {
    background-color: #B6E1DD;/*デフォルトの設定*/
    padding: 1.0625rem 0rem;
  }

  /* .col.navbut a:hover {
    background-color: #6A90F9;
  } */

  /* .navbut a {
    width: 100%;
    display: block;
    max-width: 135px;
    margin-right: 0;
    margin-left: 0;
    position: relative;
    text-align: center;
    line-height: 1;
    padding: 0.625rem 0;
    z-index: 0;
    text-decoration: none !important;
    color: #333333 !important;
  } */

/* .navbut a img.el_icon1_off {
  top: -1.625rem;
  bottom: 0;
  margin: auto;
  z-index: 2;

  background-size: cover;
  background-repeat: no-repeat;

  z-index: 2;
} */
/*初期表示*/
/* .navbut a:hover img.el_icon1_off {
  display: none;
} */


/* .navbut a div.zei01:hover {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0;
  z-index: 2;
  background-image: url(../img/faq/el_icon_02_on.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 4.5625rem;
  height: 2.3125rem;
  width: 24px;
  height: 27px;
  z-index: 2;
} */


/* .navbut a:hover {
color: #fff;
    background-color: #212b68;
} */

/* .navbut a:hover img {
    opacity: 1;
} */








}
/* @media (min-width: 992px)  END */





  /*------------------------------
  ▼lta.html 改修 SP対応
  -------------------------------*/
@media screen and (max-width:991px) {
    /* img.eltax01 {
        height: 34vw;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
    img.eltax02 {width: 15px;margin: 0 0 3px 7px;} */
    span.subtitle{font-size: 3.2vw !important;}
    .spNo{display: none;}



  /*よくあるご質問0702*/
    .guide .subtitle li button{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    span.el_qr,span.el_number{position: relative;}
    span.el_qr::after {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      background-image: url("../../koukin/img/faq/qr.svg");
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: 5px;
      left: 47px;
    }
    span.el_number::after{
      content: "";
      display: block;
      width: 41px;
      height: 16px;
      background-image: url("../../koukin/img/faq/number.svg");
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: 5px;
      left: 53px;
    }
    .el_choice{text-align: left;}
    .guide .subtitle li {
      width: 18.75rem;/*w300px*/
      margin: 0 10px 0 0;
    }









}
/* @media screen and (max-width:991px) END */



/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  /* Edge(EdgeHTML) & IE11 & IE10 */
  _:-ms-lang(x), .top_tax .tax-list li {
    width: 150px;
  }

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

  /*------------------------------
  ▼共通デザイン
  -------------------------------*/

  section.content {
    min-height: calc(100vh - 308px);
  }

  /*書式*/
  p,ul,ol {
    font-size: 1.1rem;
  }
  h2 {
    margin: 0 auto 50px auto;
    font-size: 2.2rem;
  }
  h2:after,
  .modal-header h4:after {
    margin: 8px auto 0 auto;
    width: 16rem;
  }
  h3 {
    font-size: 1.6rem;
    font-weight: 500;
  }
  .asterisk {
    margin: 0;
    padding-left: 1rem;
    text-indent: -1.1rem;
    display: block;
    line-height: 1.5rem;
  }

  /*ヘッダー*/
  .dropdown:hover>.dropdown-menu {
    display: block;
  }
  header #gnav .nav-item {
    width: 11rem;
  }
  header #gnav .nav-item a {
    font-size: 1rem;
  }
  header .navbar-brand img {
    width: 140px;
  }
  header .catch {
    font-size: 1rem;
  }

  /*------------------------------
  ▼TOPページ
  -------------------------------*/

  /*メインビジュアル*/
  .top_main {
    margin-bottom: 100px;
  }
  .top_main .firstview h1 {
    margin: 0;
    font-size: 2.4rem;
    line-height: 2rem;
  }
  .top_main .firstview h1 span {
    font-size: 3rem;
    letter-spacing: 0.3rem;
  }
  .top_main .firstview {
    height: auto;
    margin: 0 0 20px 0;
    padding: 70px 0 0 0;
  }
  .top_main .firstview-loop {
    background-size: 810px;
    height: 460px;
    animation: scroll-anim-pc 100s linear infinite;
  }
  .top_main .container p {
    font-size: 1.3rem;
    line-height: 2rem;
  }
  .top_main .catch {
    margin: 0;
  }
  .top_main a.btn {
    width: 400px;
    font-size: 1.4rem;
  }
  .top_main .firstview .mainvisual {
    height: 460px;
  }
  .top_main .mainvisual img {
    width: 220px;
    position: absolute;
    top: 20px;
    right: 50px;
  }


    /*フィッシング詐欺ご注意*/
  .fishing {
    width: 1100px;
    margin: 0 auto 30px auto;
  }
  .pc_view{
  display: block;
}

.sp_view{
  display: none;
}


  /*自治体を探す*/
  #top_area {
    padding-top: 190px;
    margin-top: -190px;
  }
  .top_area .area-block {
    width: 1100px;
    margin: 0 auto 30px auto;
  }
  .area-list {
    padding: 0;
  }
  .area-list li {
    width: calc((100% / 6) - 10px);
    margin: 5px;
  }
  .accordion-button {
    padding: .8rem 1rem;
    font-size: 1.2rem;
  }
  .top_area .count_block, .area .count_block {
    top: 40px;
    right: 130px;
  }

  /*サービスのポイント*/
  section.top_point {
    margin-bottom: 130px;
  }
  .top_point .point-slider img {
    height: 500px;
  }
  .top_point .point-slider h2 {
    font-size: 1.2rem;
  }
  .top_point .point-slider p {
    font-size: .9rem;
  }
  .slick-slide {
    opacity: .5;
    transition-duration: .6s;
  }
  .slick-active {
    opacity: 1;
    transform: scale(1.5, 1.5);
  }
  .slick-track {
    height: 500px;
    position: relative;
    top: 120px;
  }
  .slick-prev:before,
  .slick-next:before {
    font-size: 40px;
  }

  /*税金・各種公共料金に対応*/
  .top_tax .container {
    padding: 70px 10px 0 10px;
  }
  .top_tax h2 {
    width: 28rem;
  }
  .top_tax .tax-list li p {
    font-size: 1.1rem;
  }
  .top_tax .tax-list li img {
    height: 60px;
  }

  /* Edge(EdgeHTML) & IE11 & IE10 */
  _:-ms-input-placeholder, :root .top_tax .tax-list li img {
    height: auto;
  }

  /*お支払い方法*/
  section.top_payment {
    margin-bottom: 130px;
  }
  .top_payment h2 {
    margin-bottom: 20px;
  }
  .top_payment .brand-list,
  .top_payment p {
    margin: 0 auto;
  }
  .top_payment .brand-list li img {
    width: 100%;
    height: 50px;
  }
  .guide.payment .brand-list li img {
    height: 40px;
  }
  /* IE10 & IE11 */
  _:-ms-input-placeholder, :root .top_payment .brand-list li img {
    width: auto;
  }
  .guide.payment .brand-list.ap li img {
    height: 30px;
  }
  /* IE10 & IE11 */
  _:-ms-input-placeholder, :root .guide.payment .brand-list.ap li img.ie-disp {
    width: 42px;
    height: 30px;
  }
  .top_payment .brand-list,
  .top_payment .payment_list,
  .top_payment p {
    width: 650px;
  }

  /*ご準備いただくもの*/
  .top_preparations {
    width: 1100px;
    margin: -180px auto 120px auto;
  }
  .top_preparations .container {
    padding: 50px 20px 10px 20px;
  }
  .top_preparations h2 {
    width: 24rem;
  }
  .top_preparations .preparations-item,
  .top_preparations .preparations-list {
    float: left;
  }
  .top_preparations .preparations-item {
    width: 27%;
  }
  .top_preparations .preparations-item img {
    width: 80%;
  }
  .top_preparations .preparations-list {
    width: 73%;
  }

  /*ニュース*/
  .top_news .container {
    width: 1100px;
  }
  .top_news .nav {
    justify-content: space-between;
  }
  .top_news .nav-tabs .nav-link {
    width: 48%;
  }
  .top_news dl {
    padding: 0;
  }
  .top_news dl.news-list dd ul li,
  .news dl.news-list dd ul li {
    width: calc(20% - 10px);
    margin: 0 0 20px 10px;
  }

  /*------------------------------
  ▼サブページ
  -------------------------------*/

  /*自治体を探す*/
  .area .multi-collapse {
    padding-top: 500px;
    margin-top: -500px;
  }
  .area .accordion {
    width: 1100px;
    margin: 0 auto 30px auto;
  }

  /*ご利用ガイド*/
  h3.guide-title {
    margin: 0 0 30px 0;
    font-size: 1.8rem;
  }
  .guide .step span {
    font-size: 1.4rem;
  }

  /*手続きの流れ*/
  .guide h3#sp,
  .guide h3#pc {
    margin: 0;
  }

  /*よくあるご質問*/
  .guide .subtitle button {
    font-size: 1.2rem;
  }
  .guide .frequently_icon {
    margin: 8px 8px 0 0;
  }
  .guide .faq_list .accordion-button p {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .guide .faq_list p {
    font-size: 1.1rem;
  }
  .guide .accordion-body {
    background-color: #f6f6f6;
  }
  .guide .faq_list ul li,
  .guide .faq_list ol li {
    margin: 0 0 10px 0;
  }
  .guide .faq_list ul span.indent-l,
  .guide .faq_list ol span.indent-l {
    width: 13rem;
    display: inline-block;
    position: relative;
  }
  .guide .faq_list ul span.indent-l:after,
  .guide .faq_list ol span.indent-l:after,
  .guide .faq_list ul span.indent-s:after,
  .guide .faq_list ol span.indent-s:after {
    width: 1rem;
    content: "：";
    position: absolute;
    right: 0;
  }
  .guide.faq .tag,
  .guide.faq .tag2 {
    vertical-align: bottom;
  }


  /*お支払いについて*/
  .guide.payment h3:before,
  .guide.payment h3:after {
    display: none;
  }
  .guide.payment .brand-list li {
    width: auto;
    margin: 0 20px 0 0;
  }
  /*LTA*/
  .top_main a.btn {
    width: 400px;
    font-size: 1.4rem;
  }
}
/* @media (min-width: 1400px) END */
